.multi-message {
    textarea {
        min-height: 150px;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    .message-image-wrapper {
        display: flex;
        justify-content: center;
        img {
            max-height: 40vh;
        }
    }
}